# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.bin
myESC-Particle-DEV/saves/~$calibration20160913.xlsx
myESC-Particle-DEV/saves/~$frFan_20160926_10uFcap.xlsx
myESC-Particle-DEV/saves/~$frFan_90160915a.xlsx
myESC-arduino-1.6.12/arduino-builder.exe
myESC-arduino-1.6.12/arduino.exe
myESC-arduino-1.6.12/arduino.l4j.ini
myESC-arduino-1.6.12/arduino_debug.exe
myESC-arduino-1.6.12/arduino_debug.l4j.ini
myESC-arduino-1.6.12/drivers/amd64/libusb0.dll
myESC-arduino-1.6.12/drivers/amd64/libusb0.sys
myESC-arduino-1.6.12/drivers/arduino-org.cat
myESC-arduino-1.6.12/drivers/arduino-org.inf
*.cat
*.inf
*.exe
*.dll
*.lib
*.sys
myESC-arduino-1.6.12/drivers/FTDI USB Drivers/ftd2xx.h
myESC-arduino-1.6.12/drivers/FTDI USB Drivers/LogoVerificationReport.pdf
myESC-arduino-1.6.12/drivers/Old_Arduino_Drivers.zip
myESC-arduino-1.6.12/drivers/README.txt
myESC-arduino-1.6.12/drivers/license/libusb0/installer_license.txt
myESC-arduino-1.6.12/examples/01.Basics/AnalogReadSerial/AnalogReadSerial.ino
myESC-Particle-DEV/saves/calibration20160913old.xlsx
myESC-Particle-DEV/saves/firstRealCL_20161026.xlsx
myESC-Particle-DEV/saves/v_a1_20161226.txt
myESC-Particle-DEV/saves/~$fr5_a_t_e_gb_ta.xlsx
